.git
.gitignore
.circleci
.dockerignore
Dockerfile
hokusai/*.yml

README.md
LICENSE
VERSION
docs
target
build.sbt
native
ci
src

.DS_Store
.AppleDouble
.LSOverride

.env
.env.*
*.log
tmp
.vscode

*.tgz
